<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0C8EF8B1-157F-4E95-B566-D36466F0A3A0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7425791D-AEC8-4667-A4F5-6A2FCFFE6EF8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>59B30AD1-B7C0-4921-AE82-1AF45FFB28DD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7425791D-AEC8-4667-A4F5-6A2FCFFE6EF8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5D4A29D7-712F-4F4E-A621-3888E9002B26</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>59B30AD1-B7C0-4921-AE82-1AF45FFB28DD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>643E85AC-4E2A-41AA-AB0B-E584B1877811</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7425791D-AEC8-4667-A4F5-6A2FCFFE6EF8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7DC73E3C-F04A-4850-A2C6-2D96FC6E3D78</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>643E85AC-4E2A-41AA-AB0B-E584B1877811</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>897CE06D-082F-4347-B612-0C3647025ACA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0C8EF8B1-157F-4E95-B566-D36466F0A3A0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ryan Ye</string>
	<key>description</key>
	<string>Add Reminders</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Reminder</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>r</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Create Reminders</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7DC73E3C-F04A-4850-A2C6-2D96FC6E3D78</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Create Reminder</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7425791D-AEC8-4667-A4F5-6A2FCFFE6EF8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>PATH="/opt/homebrew/opt/python@3.10/libexec/bin/:$PATH"
python reminder.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>643E85AC-4E2A-41AA-AB0B-E584B1877811</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/opt/homebrew/bin/reminders add inbox "$1" --due-date today</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>59B30AD1-B7C0-4921-AE82-1AF45FFB28DD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>t</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Add an Item to Today's Todo list</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5D4A29D7-712F-4F4E-A621-3888E9002B26</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/opt/homebrew/bin/reminders add problem "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0C8EF8B1-157F-4E95-B566-D36466F0A3A0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>p</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Add an Item to Problem list</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>897CE06D-082F-4347-B612-0C3647025ACA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Alfred's Script Filter object is extremely powerful, and gives you control over the results displayed in Alfred.

Alfred 3 now supports JSON, which is the recommended format. XML is also supported for legacy Alfred 2 workflows, and has been updated to include the new features.

A new option now exists for Script Filters, "Alfred filters results". This allows you to return a whole list of results, let Alfred do the subsequent filtering with extreme performance. When this option is selected, your script will be called once with no argument.</string>
	<key>uidata</key>
	<dict>
		<key>0C8EF8B1-157F-4E95-B566-D36466F0A3A0</key>
		<dict>
			<key>xpos</key>
			<real>305</real>
			<key>ypos</key>
			<real>530</real>
		</dict>
		<key>59B30AD1-B7C0-4921-AE82-1AF45FFB28DD</key>
		<dict>
			<key>xpos</key>
			<real>295</real>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>5D4A29D7-712F-4F4E-A621-3888E9002B26</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>643E85AC-4E2A-41AA-AB0B-E584B1877811</key>
		<dict>
			<key>xpos</key>
			<real>290</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>7425791D-AEC8-4667-A4F5-6A2FCFFE6EF8</key>
		<dict>
			<key>xpos</key>
			<real>535</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>7DC73E3C-F04A-4850-A2C6-2D96FC6E3D78</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>897CE06D-082F-4347-B612-0C3647025ACA</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>575</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
