<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>2018EA28-06AC-4428-BDF4-BB40DB07A070</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A313ACED-6AD9-45A2-B28A-75DE040F3996</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>50076138-F31F-4B60-96A6-ADADB2092BD0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A9253CD7-49CC-4BB4-8572-EB22C5F18FA1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7E8908A6-384E-4F8D-980F-5EDC15D66965</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>962A939C-F1A6-41A9-A88D-944AF4E428BD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D3B6707F-0523-439B-A4CE-EF44918FDD95</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C89BE7D7-C901-4E57-817C-03B21629FACA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ryan Ye</string>
	<key>description</key>
	<string>Search and create lark docs</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Lark Docs</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://localhost:3000/lark/create-doc?type=docx&amp;profile=bytedance</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A313ACED-6AD9-45A2-B28A-75DE040F3996</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>docw</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Create Lark Docx - Bytedance</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2018EA28-06AC-4428-BDF4-BB40DB07A070</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>bitablew</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Create Lark Bitable - Bytedance</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D3B6707F-0523-439B-A4CE-EF44918FDD95</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://localhost:3000/lark/create-doc?type=bitable&amp;profile=bytedance</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C89BE7D7-C901-4E57-817C-03B21629FACA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>docp</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Create Lark Docx - Personal</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7E8908A6-384E-4F8D-980F-5EDC15D66965</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://localhost:3000/lark/create-doc?type=docx&amp;profile=personal&amp;folder=fldcnAqzIf2ixIgdqifOduukb2c</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>962A939C-F1A6-41A9-A88D-944AF4E428BD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>bitablep</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Create Lark Bitable - Personal</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>50076138-F31F-4B60-96A6-ADADB2092BD0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://localhost:3000/lark/create-doc?type=bitable&amp;profile=personal&amp;folder=fldcnAqzIf2ixIgdqifOduukb2c</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A9253CD7-49CC-4BB4-8572-EB22C5F18FA1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Alfred's Script Filter object is extremely powerful, and gives you control over the results displayed in Alfred.

Alfred 3 now supports JSON, which is the recommended format. XML is also supported for legacy Alfred 2 workflows, and has been updated to include the new features.

A new option now exists for Script Filters, "Alfred filters results". This allows you to return a whole list of results, let Alfred do the subsequent filtering with extreme performance. When this option is selected, your script will be called once with no argument.</string>
	<key>uidata</key>
	<dict>
		<key>2018EA28-06AC-4428-BDF4-BB40DB07A070</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>50076138-F31F-4B60-96A6-ADADB2092BD0</key>
		<dict>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>625</real>
		</dict>
		<key>7E8908A6-384E-4F8D-980F-5EDC15D66965</key>
		<dict>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>500</real>
		</dict>
		<key>962A939C-F1A6-41A9-A88D-944AF4E428BD</key>
		<dict>
			<key>xpos</key>
			<real>300</real>
			<key>ypos</key>
			<real>505</real>
		</dict>
		<key>A313ACED-6AD9-45A2-B28A-75DE040F3996</key>
		<dict>
			<key>xpos</key>
			<real>290</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>A9253CD7-49CC-4BB4-8572-EB22C5F18FA1</key>
		<dict>
			<key>xpos</key>
			<real>310</real>
			<key>ypos</key>
			<real>630</real>
		</dict>
		<key>C89BE7D7-C901-4E57-817C-03B21629FACA</key>
		<dict>
			<key>xpos</key>
			<real>295</real>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>D3B6707F-0523-439B-A4CE-EF44918FDD95</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>370</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
